<H1>Data Science Tools and Ecosystem</H1>

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Panda
3. Scikit-learn

| Data Science Tools |
| -------------------- |
| Jupyter Notebook |
| RStudio |
| VS Code (Visual Studio Code) |

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## <b>Objectives:</b>
- C++
- R
- Python

## <H2>Author</H2>

| Author |
| ------ |
| Christopher Lin |